.site-Header{
    color: rgb(72, 255, 0);
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.site-Body{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.list{
    color: crimson;
    font-weight: bolder;
}

.main {
  display: flex;
  background: rgb(244, 132, 4);
  border: 4px solid rgb(11, 26, 239);
  height: 800px;
  padding: 100px;
  align-items: center; 

}

.main div {
  background: rgb(244, 232, 4);
  border: 4px solid rgb(11, 26, 239);
  height: 900px;
  flex: 1;
}

.main .photoSection{
  display: flex;
  flex: none;
  flex-direction: column;
  width: 400px;
  margin: 50px;
  
  align-items: center;
  justify-content: center;
}

.photoSection div{
  display: block;
  background: rgb(4, 244, 228);
  border: 4px solid rgb(235, 11, 239);
  width: 350px;
  margin: 25px;

}

.photoSection .photo{
  flex: none;
  height: 600px;
}

.photoSection .photoInfo{
  flex: none;
  height: 100px;
}



